@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body{
    font-family: "Roboto", sans-serif;
    background-color: black;
    color: white;
    padding: 0;
    margin: 0;
    border: 0;
    overflow-x: hidden;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid gray;
    max-height: 40px;
    position: fixed;   
    width: 100%;    
    background-color: black; 
    z-index: 1000;
    margin-bottom: 20px;
}
nav h1,ul{
    font-weight: 300;
}
nav ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}
nav li{
    border-left:1px solid gray ;
    border-right:1px solid gray ;
    padding-right: 20px;
    padding-left: 20px;
    height: 40px;
    display: flex;
    align-items: center;
}
a:visited{
    color: white;
}
a{
    color: white;
    text-decoration: none;
}
a:hover{
    color: #ccc;
}
/* banner */
@keyframes slideInLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
        color: #ff8fab;
    }
}
@keyframes slideUp {
    0% {
        transform: translateY(+100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: .7;
    }
}
@keyframes emerge {
    0% {
        opacity: 0;
    }
    100% {
        opacity: .7;
    }
}
.banner,.introduction {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 1044px;
    padding-top: 50px;
    position: relative;
}

.banner h1 {
    font-size: 9rem;
    color: white;
    margin: 0;
}

.banner > .design {
    z-index: 1;
    text-align: left;
    animation: slideInLeft 2.2s ease forwards;
    
}

.banner > img {
    max-height: 400px; 
    max-width: 100%;
    z-index: 2;
    right: 400px;
    top: 50px;
    position: relative;
    border-radius: 50%;
}

.banner > .industry {
    position: absolute;
    z-index: 2;
    text-align: right;
    right: -20px;
    bottom: -80px;
    animation: slideInRight 2.2s ease forwards;
}

.introduction>h3{
    margin-top: 90px;
    opacity: .7;
    font-weight: 300;
    animation: slideUp 2.2s backwards;
}

/* skills */
.skills,.project{
    max-width: 1044px;
    margin: 150px auto;
    display: flex;
    justify-content: space-around;
}
.projects,.contact{
    max-width: 1044px;
    margin: 70px auto;
}
.tech-skills,.soft-skills{
    max-width: 300px;
    border: .7px solid #ccc;
    border-radius: 18px;
    background-color: #3d2d1d;
    background-color: #222222;
    background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
    box-shadow: 4px 4px 8px gray;
}
.tech-skills>h3,.soft-skills>h3{
    text-align: center;
    font-size: 2rem;
}
.tech-skills>.skill-btn{
    margin-top: 50px;
}
.skill-btn button{
    font-weight: 900;
    font-size: .7rem;
    /* margin: 5px; */
    padding: 12px 16px;
    border-radius: 18px;
    border: none;
}
.soft-skills li{
    font-size: 1rem;
    font-weight: 400;
    padding: 10px;
}
/* project */


.project-content {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    width: 100%; 
    margin: 0; 
}

.project-content h1, .project-content p {
    flex: 1;
    margin: 0;
}
.project-content>h1{
    font-size: 4rem;
}
.project-content>p{
    font-size: 1.5rem;
    color: greenyellow;
}
.project-img{
    display: flex;
    gap: 60px;
    margin-top: 60px;
}
.project-1 img,.project-2 img{
    height: 500px;
    width: 500px;
    border-radius: 2px;
    transition: transform .8s ease;
}
.project-1>ul,.project-2>ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    font-size: 1.2rem;
    text-align: center;
}
.project-1 li{
    display: flex;
    justify-content: center;
    align-items: center;
}
.project-1 img:hover,.project-2 img:hover{
    transform: scale(1.1);
}
/* contact */
.contact{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.contact h1{
    font-size: 3rem;
}
.contact a{
    font-size: 3rem;
    padding-right: 20px;
}
.contact-form{
    display: flex;
    

}
.contact-form div{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    font-size: 1.2rem;
    margin-bottom: 10px;
    align-items: center;
}
.contact-form input,textarea{
    padding: 12px 16px;
    border-radius: 8px;
    
}
.contact-form textarea{
    padding: 10px 10px;
}
.contact-form button{
    padding: 12px 16px;
    margin-top: 10px;
    border-radius: 12px;
    border: none;
    font-weight: 600;
}
/* about me */
.about-me{
    max-width: 1044px;
    margin: 90px auto;
    display: flex;
    justify-content: space-around;
}

.about-me img{
    max-width: 500px;
    height: auto;
}
.about-me h1{
    font-size: 3rem;
}
.about-me h3{
    font-size: 2rem;
}
.about-me h3,p{
    font-weight: 300;
}


@media screen and (max-width:576px){
    nav{
        justify-content: space-evenly;
    }
    nav li{
        border-right: 0px solid gray;
        text-align: center;
        font-size: .7rem;
    }
    nav p{
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .banner,.introduction{
        padding-top: 20px;
    }
    .introduction{
        margin: 0 auto;
        font-size: .7rem;
        width: 85%;
    }
    .banner h1 {
        font-size: 3rem;
        color: white;
        margin: 0;
    }
    
    
    .banner > img {
        max-height: 200px; 
        max-width: 100%;
        margin-top: 20px;
        z-index: 2;
        right: 100px;
        top: 50px;
        position: absolute;
        border-radius: 50%;
    }
    
    .banner > .industry {
        position: absolute;
        z-index: 2;
        text-align: right;
        right: 95px;
        bottom: -280px;
        animation: none;
    }
    .banner > .design {
        position: absolute;
        z-index: 1;
        text-align: left;
        bottom:-85px;
        right: 155px;
        color: #ff8fab;
    }
    .introduction{
        margin-top: 190px;
        text-align: center;
        opacity: .7;
        font-weight: 300;
    }
    /* skills */
    .skills,.project-content,.contact{
        flex-direction: column;
        margin: 50px auto;
    }
    .tech-skills,.soft-skills{
        margin: 20px auto;
    }
    .projects{
        margin: 0 auto;
        text-align: center;
    }
    .project-content{
        text-align: center;
        margin: 20px auto;
    }
    .project-content>p{
        opacity: .4;
        padding-top: 20px;
        padding-bottom: 40px;
        margin: 0 auto;
        text-align: center;
        font-size: .9rem;
        width: 300px;
    }
    .project-img{
        flex-direction: column;
        margin: 0 auto;
    }
    .project-1 img,.project-2 img{
        height: 300px;
        width: 400px;
        transition: 0; 
        
    }
    /* contact */
    .contact-form,.contact-details{
        margin: 20px auto;
        text-align: center;
    }
    .contact-form textarea{
        padding: 16px 18px;
    }
    /* about-me */
    .about-me{
        max-width: 1044px;
        margin: 60px auto;
        display: flex;
        flex-direction: column;
        align-items: center; 
        text-align: center; 
    }
    
    .about-me .self-bragging{
        margin: 0 auto;
    }
}

.circle {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid gray;
    background-color: rgba(0, 0, 0, .7);
    pointer-events: none;
    transform: translate(-50%, -50%);
    z-index: 1000;
}
