@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body{
    font-family: "Roboto", sans-serif;
    background-color: black;
    color: white;
    padding: 0;
    margin: 0;
    border: 0;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid gray;
    max-height: 40px;
    /* position: sticky; */
    position: fixed; 
    /* top: 0;          Keeps the navbar at the top */
    width: 100%;     /* Ensures the navbar stretches across the screen */
    background-color: black; /* Set a background color to prevent content from showing through */
    z-index: 1000;
    margin-bottom: 20px;
}
nav h1,ul{
    font-weight: 300;
}
nav ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    /* gap: 40px; */
}
nav li{
    border-left:1px solid gray ;
    border-right:1px solid gray ;
    padding-right: 20px;
    padding-left: 20px;
    height: 40px;
    display: flex;
    align-items: center;
}
a:visited{
    color: white;
}
a{
    color: white;
    text-decoration: none;
}
a:hover{
    color: #ccc;
}
/* banner */
/* Keyframes for sliding in from left and right */
@keyframes slideInLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
        /* font-weight: 400; */
    }
    100% {
        transform: translateX(0);
        opacity: 1;
        /* font-weight: 400; */
        /* color: #ff8fab; */
    }
}

@keyframes slideInRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
        /* font-weight: 400; */
    }
    100% {
        transform: translateX(0);
        opacity: 1;
        color: #ff8fab;
        /* font-weight: 500; */
    }
}
@keyframes emerge {
    0% {
        /* transform: translateX(100%); */
        opacity: 0;
    }
    100% {
        /* transform: translateX(0); */
        opacity: .7;
        /* color: #ff8fab; */
    }
}
.banner,.introduction {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 1044px;
    padding-top: 50px;
    position: relative;
}

.banner h1 {
    font-size: 9rem;
    color: white;
    margin: 0;
}

.banner > .design {
    /* position: absolute; */
    z-index: 1;
    text-align: left;
    animation: slideInLeft 2.2s ease forwards;
    
}

.banner > img {
    max-height: 400px; 
    max-width: 100%;
    z-index: 2;
    right: 400px;
    top: 50px;
    position: relative;
    border-radius: 50%;
}

.banner > .industry {
    position: absolute;
    z-index: 2;
    text-align: right;
    right: -20px;
    bottom: -80px;
    animation: slideInRight 2.2s ease forwards;
    /* color: #ff8fab; */
}

/* @media screen and (max-width:576px) {
    nav li {
        border-right: 0px solid gray;
    }
    .banner {
        flex-direction: column;
    }
    .banner h1 {
        font-size: 3rem;
    }
    .banner img {
        max-height: 150px; 
    }
} */
.introduction>h3{
    margin-top: 90px;
    /* font-weight: lighter; */
    opacity: .7;
    font-weight: 300;
    animation: emerge 2.2s ease forwards;
}

@media screen and (max-width:576px){
    nav li{
        border-right: 0px solid gray;
        text-align: center;
    }
    nav p{
        /* border-right: 0px solid gray; */
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        /* display: none; */
    }
    .banner,.introduction{
        padding-top: 20px;
    }
    .introduction{
        padding: 20px;
    }
    .banner h1 {
        font-size: 3rem;
        color: white;
        margin: 0;
    }
    
    
    .banner > img {
        max-height: 200px; 
        max-width: 100%;
        margin-top: 20px;
        z-index: 2;
        right: 110px;
        /* left: 10px; */
        top: 50px;
        position: absolute;
        border-radius: 50%;
    }
    
    .banner > .industry {
        position: absolute;
        z-index: 2;
        text-align: right;
        right: 105px;
        bottom: -280px;
        animation: none;
    }
    .banner > .design {
        position: absolute;
        z-index: 1;
        text-align: left;
        bottom:-85px;
        right: 170px;
        color: #ff8fab;
        /* bottom: -120px; */
    }
    .introduction{
        margin-top: 190px;
        text-align: center;
        opacity: .7;
        font-weight: 300;
    }
    
}